* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

/* body {
    background-color: blue;
} */

.header {
    padding: 50px 150px;
    background-color: #1B1919;
}

.header p {
    font-weight: bold;
}

.header_block_1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    color: white;
}

.header_block_1 p {
    font-size: 20px;
}

.header_block_2 {
    display: flex;
    justify-content: space-between;
    /* padding-bottom: 48px; */
    color: white;
}

.header_block_2 {
    font-size: 14px;
}

.header_block_2 p:hover {
    color: #5E50AF;
}

.header_phone {
    display: flex;
    align-items: center;
}

.header_mail {
    display: flex;
    align-items: center;
}

.header_mail img {
    padding-right: 14px;
}

.main_block {
    background-image: url(data_image/title_image.png);
    background-size: cover;
    height: 823px;
    background-repeat: no-repeat;
}

.main_title {
    position: relative;
    top: 206px;
    left: 116px;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
}

.white {
    color: white;
}

.black {
    color: black;
    background-color: white;
    text-align: center;
    vertical-align:middle;
    padding: 8px 0 1px 0;
}

.main_block button {
    background: #5E50AF;
    border-radius: 12px;
    position: relative;
    /* top: 408px; */
    /* bottom: 30px; */
    /* left: 42px; */
    border: none;
    outline: none;
}

.main_block button p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 25px 49px 24px 49px;
    text-transform: uppercase;
}

.second_block {
    padding: 100px 103px;
}

h1 {
    color: #474444;
    font-size: 56px;
    font-family: 'Rubik', sans-serif;
}

.about_garaj {
    margin-top: 25px;
    display: flex;
}

.about_garaj p {
    font-size: 30px;
    color: #474444;
    padding-right: 45px;
}

.end {
    margin-top: 47px;
}

.end span {
    color: #5E50AF;;
}

.services {
    padding-top: 100px;
}

.services h1{
    padding-bottom: 20px;
}

h2 {
    font-size: 30px;
}




.ideas {
    padding-top: 100px;
}

.ideas h2 {
    padding: 35px 0 22px 0;
    font-size: 30px;
    text-transform: uppercase;
}

.ideas_img {
    background-image: url(data_image/projects_image.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    height: 534px;
    /* width: auto; */
    background-size: auto;
}

.ideas_img button {
    background: #5E50AF;
    border-radius: 12px;
    position: relative;
    top: 408px;
    left: 42px;
    border: none;
    outline: none;
}

.ideas_img p {
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 29px 38px 30px 38px;
}







.service_blocks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.service_block {
    padding-right: 30px;
    max-height:524px ;
    max-width: 370px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
}

.pod_block{
    display: flex;
    align-items: center;
    height: 100%;
    padding-bottom: 8px;
}

.pod_block img {
    padding-right: 6px;
}

.service_blocks h2 {
    color: #5E50AF;
}

.block_text {
    background-color: #5E50AF;
    opacity: 0.6;
    min-width: 300px;
    max-width: 370px;
    max-height: 450px;
    border: 2px solid #1B1919;
    border-radius: 30px;
    min-height: 400px;
}

.block_text p {
    color: white;
    padding: 32px;
    font-size: 20px;
}

.footer {
    padding: 50px 150px;
    background-color: #1B1919;
}

.block_image {
    display: flex;
    justify-content: center;
}

.block_1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 48px;
    color: white;
    padding-top: 100px;
}

.block_1 p {
    color: #5E50AF;
    font-size: 30px;
    padding-left: 20px;
}

.block_1 h3 {
    padding-left: 20px;
    font-size: 20px;
}

.phone {
    display: flex;
    align-items: flex-start;
}

.address {
    display: flex;
    align-items: flex-start;
}

.mail {
    display: flex;
    align-items: flex-start;
}

.phone_texts {
    display: flex;
    flex-direction: column;
}

.block_2 {
    display: flex;
    padding-top: 80px;
}

.block_2 a {
    padding-left: 30px;
}

.last_text {
    text-align: center;
    font-size: 20px;
    color: #FFFCFC;
    padding-top: 80px;
}
